h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: palegoldenrod;
}

.fundo {
    background-color: palegreen;
}        

body {
    font-size: 16px;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: initial;
    text-align: center;
    text-decoration: lightblue;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}