* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

h1{
    padding: 20px;
}

#field {
    padding: 30px;
    width: 20%;
    margin: 0 auto 40px auto;
    margin-bottom: 20px;
    display: inline-block;
    background-color: ivory;
}

label {
    display: inline-block;  
    padding: 5px 15px;
    width: 200px;
    margin-bottom: 10px;
}

#select {
    display: inline-block;  
    padding: 4px 15px;
    width: 70px;
    margin-bottom: 10px;
}

.textArea {
    margin: 0 auto 40px auto;
    width: 50%;
    background-color: ivory;
    margin-bottom: 20px;    
}

#fieldRadio {    
    background-color: lightgoldenrodyellow;
    display: block;
}