* {
    margin: 0;
    padding: 0;
}

body {
    font-family: opensans,helvetica,arial,sans-serif;  /*fonte do texto*/
    font-size: 17px;  /*tamanho da fonte*/
    text-align: center;  /*centralizar o site*/     
}

header #cabecalho {
    background-color: #C4170C;  /*cor do fundo*/ 
    padding: 25px 25px;  /*espaçamento em cima/baixo*/        
}

header #cabecalho h2{   
    color: seashell;  /*cor do texto*/   
    font-size: 40px;    /*tamanho do cabeçalho*/  
}

header ul {
    position: absolute;  /*position, left e top serve para posicionar a lista no topo*/
    left: 25px;
    top: 15px;             
}

header ul a {
    color: seashell;  /*cor no link*/
    text-decoration: none;  /*tira o sublinhado do link*/           
}

header ul li {
    list-style-type: none;  /*tirar o símbolo da lista*/  
    margin: 5px;  /*espaçamento do texto*/
    text-align: left;  /*alinhar lista a esquerda*/
    font-weight: bolder;  /*borda na lista*/  
    width: 100%;  /*largura da caixa*/           
}

ul li :hover {  /*alterar a cor do link ao passar o mouse*/
    background-color: rgb(207, 133, 133); /*cor do fundo ao passar o mouse*/
    color: seashell;  /*cor ao passar o mouse*/    
}

#cabecalho a {
    color: seashell;  /*cor na lista*/   
}

h2 {
    color: #333;  /*cor no h2*/  
    font-size: 2em; /*tamanho da fonte nos títulos*/
    margin: 20px; /*margem do texto*/
}

img {
    border-radius: 100%;  /*borda na imagem*/
    width: 200px;
}

#footer {
    background-color: #C4170C;  /*cor do fundo*/  
    padding: 40px 40px;  /*espaçamento em cima/baixo*/
    
}

#footer ul {    
    font-size: 20px; /*tamanho do texto do rodapé*/
    text-decoration: none;  /*tira o sublinhado do link*/   
    position: absolute;  /*position, left e top serve para posicionar a lista no topo*/
    left: 0px;
    top: 890px; 
    width: 100%;  /*largura da caixa*/     
}

#footer li {
    display: inline-block;   
}

#footer a {
    color: seashell;  /*cor da lista no rodapé*/
    text-decoration: none;  /*tira o sublinhado do link*/  
    margin: 20px;  /*espaçamento do texto*/
}
 
